:root {
  --main-bg-color-: #19283f;
  --alt-bg-color-: #eff7fa;
  --main-color-: #00c6bf;
  --btn-bg-color-: #ff3150;
  --btn-color-: #ffc501;
  --anchor-color-: #a8b9c0;
  --green-color-: #00c7c0;
  --yellow-color-: #ffc400;
}
body {
  font-family: "Roboto", sans-serif;
}
::-webkit-scrollbar {
  width: 10px;
  background-color: var(--alt-main-color-);
}
::-webkit-scrollbar-thumb {
  background-color: var(--yellow-color-);
  border-radius: 11px;
  -webkit-border-radius: 11px;
  -moz-border-radius: 11px;
  -ms-border-radius: 11px;
  -o-border-radius: 11px;
}
.preloader {
  height: 100%;
  z-index: 10000;
  background-color: var(--main-bg-color-);
  display: flex;
  align-items: center;
  justify-content: center;
}
/* Start NAV Bar */
nav {
  background-color: var(--main-bg-color-);
}
.navbar-nav .nav-item .nav-link {
  color: var(--anchor-color-);
}
.navbar-nav .nav-item .nav-link.active,
.navbar-nav .nav-item .nav-link:hover,
.navbar-nav .nav-item .nav-link:focus {
  color: var(--green-color-);
}
.navbar-toggler {
  color: white;
  border: 1px solid white;
}
.navbar-toggler:focus {
  box-shadow: none;
}
.btn {
  background-color: var(--btn-bg-color-);
  color: var(--btn-color-);
}
.btn:hover {
  background-color: var(--btn-bg-color-);
  color: var(--btn-color-);
}
/* End NAV Bar */
/* Start Landing Section */
.landing-section {
  background-color: var(--main-bg-color-);
  height: calc(100vh - 70px);
}
.landing-section .txt h1 {
  color: #f0f8fb;
  font-size: 3rem;
}
.landing-section .txt p {
  color: var(--main-color-);
}
/* End Landing Section */
/* Start services Section */
.features {
  color: var(--green-color-);
}
.features h2 {
  font-weight: bolder;
}
.sub-heading {
  font-size: 13px;
  position: relative;
}
.sub-heading::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  transform: translate(-50%, 10px);
  background-color: var(--green-color-);
  width: 80%;
  height: 2px;
}
.services .icons-container .number {
  color: var(--alt-bg-color-);
  font-size: 100px;
}
.services .icons-container .shape {
  margin-top: -15px;
  font-size: 40px;
  color: #ddd;
}
.services h4 {
  color: var(--yellow-color-);
}
/* End services Section */
/* Start Gallery Section */
.gallery {
  background-color: var(--alt-bg-color-);
}
.gallery-area ul li {
  text-transform: capitalize;
  padding: 0.5rem 1rem;
  cursor: pointer;
}
.gallery-area ul li.active,
.gallery-area ul li:hover {
  background-color: var(--btn-bg-color-);
  color: var(--btn-color-);
  border-radius: 11px;
  -webkit-border-radius: 11px;
  -moz-border-radius: 11px;
  -ms-border-radius: 11px;
  -o-border-radius: 11px;
}
.gallery .box {
  padding: 5px;
  position: relative;
  overflow: hidden;
}
.gallery .box::before {
  content: attr(data-work);
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  width: calc(100% - 10px);
  height: calc(100% - 10px);
  background-color: #53a0b0cc;
  color: white;
  font-weight: 700;
  transform: translateX(calc(-100% - 5px));
  transition: 0.3s;
}
.gallery .box:hover::before {
  transform: translateX(0);
}
.gallery .more-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  width: fit-content;
  margin: 0 auto;
}
/* End Gallery Section */
/* Start Testimonial Section */
.testimonial .section-title p {
  max-width: 600px;
  margin: 20px 0;
  text-align: center;
  color: #000000ab;
}
.txt-info p {
  color: var(--main-bg-color-);
  max-width: 600px;
}
@media (max-width: 992px) {
  .testimonial .more-info {
    flex-wrap: wrap;
  }
  .testimonial .image {
    width: 500px;
    margin: 20px auto;
  }
  .testimonial .txt-info {
    text-align: center;
  }
}
/* End testimonial Section */
/* Start Team Section */
.team-member {
  background-color: var(--alt-bg-color-);
}
.team-member .section-title h2 {
  color: var(--yellow-color-);
}
.team-member .box h4 {
  background-color: var(--main-color-);
  color: white;
  padding: 8px;
  margin: 0;
}
.team-member .box blockquote {
  background-color: white;
  color: #000000ab;
}
/* End Team Section */
.partners {
  overflow: hidden;
}
.partners .container {
  animation: infinte-scrolling 10s linear 0s infinite forwards;
  -webkit-animation: infinte-scrolling 10s linear 0s infinite forwards;
}
.projects {
  background-color: var(--main-bg-color-);
  color: white;
}
.projects h4 {
  font-size: 2rem;
}
/* Start Blog Section */
.blog .box {
  cursor: pointer;
}
.blog .box[data-display="none"] {
  display: none;
}
.blog .box[data-display="none"].show {
  display: block;
}
.blog .box .date {
  color: var(--green-color-);
}
.blog .box .title {
  color: #1a2940;
  font-size: 1.25rem;
}
.blog .load-more-btn {
  width: fit-content;
  margin: 2rem auto;
}
/* End Blog Section */
.subscription {
  background-color: var(--yellow-color-);
}
.subscription strong {
  white-space: nowrap;
}
input {
  outline: none;
}
.subscription input[type="email"] {
  border: none;
  border-bottom: 1px solid white;
  color: white;
  caret-color: var(--main-bg-color-);
}
.subscription [type="submit"] {
  background-color: var(--main-bg-color-);
  margin: 0 0 0 10px;
}
/*  */
/*  */
footer {
  background-color: var(--main-bg-color-);
}
footer .company {
  color: var(--yellow-color-);
  display: inline-block;
}
footer a {
  color: var(--green-color-);
}
/*  */

/* Animation */
@keyframes infinte-scrolling {
  0% {
    transform: translate3d(-1500px, 0, 0);
    -webkit-transform: translate3d(-1500px, 0, 0);
    -moz-transform: translate3d(-1500px, 0, 0);
    -ms-transform: translate3d(-1500px, 0, 0);
    -o-transform: translate3d(-1500px, 0, 0);
  }
  100% {
    transform: translate3d(1500px, 0, 0);
    -webkit-transform: translate3d(1500px, 0, 0);
    -moz-transform: translate3d(1500px, 0, 0);
    -ms-transform: translate3d(1500px, 0, 0);
    -o-transform: translate3d(1500px, 0, 0);
  }
}
